@font-face {
    font-family: "lblack";
    src: url("../fonts/lblack.ttf") format("truetype");
}
@font-face {
    font-family: "notoserif"; 
    src: url("../fonts/notoserif.ttf") format("truetype");
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resources/img/mainmenu_bg_edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(48, 48, 48);
    overflow-x: hidden;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(130, 9, 16);
    padding: 25px;
}

.sticky-header-left-text {
    font-family: 'lblack';
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.sticky-header-right-dropdown-select {
    font-family: 'notoserif';
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.game-name-div {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.game-name-h1 {
    font-family: 'notoserif';
    font-size: 5rem;
    background: linear-gradient(rgb(226, 192, 68), rgb(130, 9, 16));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

@media (max-width: 768px) {
    .game-name-h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .game-name-h1 {
        font-size: 2rem;
    }
}

.span-gn-red {
    background: linear-gradient(rgb(255, 0, 0), rgb(41, 15, 16));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.index-h2 {
    color:rgb(130, 9, 16);
    font-family: 'notoserif';
    font-size: 15px;
    font-weight: normal;
}

.index-h3 {
    color:rgb(130, 9, 16);
    font-family: 'notoserif';
    font-size: 15px;
    font-weight: normal;
    display: block;
}

.main-menu-view-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(226, 192, 68);
    padding: 100px 100%;
}

.nav-button {
    background: radial-gradient(rgb(130, 9, 16) 0%, rgb(32, 0, 2) 100%);
    font-size: 20px;
    font-family: 'notoserif';
    color: rgb(226, 192, 68);
    border: 2px solid rgb(226, 192, 68);
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin: 10px 20px;
}

.nav-button:hover {
    background:radial-gradient(rgb(214, 53, 58) 50%, rgb(95, 78, 78) 100%);
    border-color: rgb(240, 215, 124);
    color:rgb(226, 192, 68);
}
  
.nav-button:active {
    border-color: rgb(208, 141, 46);
    color: rgb(208, 141, 46);
}

.footer-view-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.signup-signin {
    color:rgb(226, 192, 68);
    font-family: 'notoserif';  
    text-decoration: none;
    margin: 0 0 0 0;
}

.signup-signin:hover {
    color: rgb(241, 226, 168);
}

.signup-signin:active {
    color: rgb(208, 141, 46);
}

.span-ss{
    color:rgb(226, 192, 68);
}