@font-face {
    font-family: 'lblack';
    src: url('lblack.ttf') format('truetype');
}
@font-face {
    font-family: 'centbd_' ;
    src: url('centbd_.ttf') format('truetype');
}
@font-face {
    font-family: 'notoserif'; 
    src: url('notoserif.ttf') format('truetype');
}

.sticky-header {
    display: block;
    z-index: 100;
    background-color: rgb(25, 65, 188);
    margin: -10px -10px -10px -10px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    position: static;
    border-width: 10px;
    border-color: rgb(0, 13, 133);
    border-style: groove;   
}

.sticky-header-text{
    font-family: 'lblack';
    font-size: 17px;
    color:rgb(242, 240, 240);
    text-decoration: none;
}

body {
    background-color: rgb(29, 66, 166);
    /*background-image: url('images/loading_slash.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;*/
}

.header-div {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.IAOEH1 {
    color:rgb(242, 240, 240);
    font-family: 'lblack';
    font-size: 70px;
    display: block;
}

.IAOEH2 {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 15px;
    display: block;
    font-weight: normal;
    margin: -15px 0 0 0;
}

.IAOEH3 {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin: 0 0 -10px 0;
}

.nav-button-div {
    margin: auto;
    text-align: center;
    margin: 100px 0 0 0;
}

.nav-button {
    background-color: rgba(43, 43, 43, 0.5);
    font-size: 20px;
    border-width: 2px;
    border-color: rgb(226, 192, 68);
    border-style: solid;
    cursor: pointer;
    width: 200px;
    height: 44px;
    margin: 7px 7px 7px 7px;
}

.nav-button:hover {
    background-color: rgba(15, 15, 15, 0.8);
    border-color: rgb(226, 192, 68);
}

.nav-button:active {
    background-color: rgb(15, 15, 15);
    border-color: rgb(255, 150, 0);
}

a.nav-button-a {
    font-family: 'lblack';
    color: rgb(199, 199, 199);
    text-decoration: none;
}

a.nav-button-a:hover {
    color: rgb(226, 192, 68);
}

a.nav-button-a:active {
    color: rgb(251, 150, 7);
}

.join-us-div {
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.signup-signin {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 27px;    
    text-decoration: none;
    margin: 0 0 0 0;
}

.signup-signin:hover {
    color: rgb(226, 192, 68);
}

.signup-signin:active {
    color: rgb(251, 137, 7);
}

.spanamp{
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 15px;    
    text-decoration: none;
    margin: 0 0 0 0;
}
