@font-face {
    font-family: "lblack";
    src: url("fonts/lblack.ttf") format("truetype");
}
@font-face {
    font-family: "centbd_" ;
    src: url("fonts/centbd_.ttf") format("truetype");
}
@font-face {
    font-family: "notoserif"; 
    src: url("fonts/notoserif.ttf") format("truetype");
}

body {
    background-color: rgb(29, 66, 166);
    overflow-x: hidden;
}

.index-div {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.index-h1 {
    color:rgb(242, 240, 240);
    font-family: 'lblack';
    font-size: 133px;
    margin: 500px 0 0 0;
}

.index-h2 {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 15px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.index-h3 {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin: 0 0 0 0;
}

.nav-button-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 100px 50px 100px;
}

.nav-button {
    background-color: rgba(43, 43, 43, 0.5);
    font-size: 25px;
    font-family: 'lblack';
    color: rgb(242, 240, 240);
    border-width: 2px;
    border-color: rgb(226, 192, 68);
    border-style: solid;
    cursor: pointer;
    width: 250px;
    height: 44px;
    margin: 10px 10px 10px 10px;
}

.nav-button:hover {
    background-color: rgba(15, 15, 15, 0.8);
    border-color: rgb(226, 192, 68);
    color:rgb(226, 192, 68);
}
  
.nav-button:active {
    background-color: rgb(15, 15, 15);
    border-color: rgb(208, 141, 46);
    color: rgb(208, 141, 46);
}

.join-us-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.signup-signin {
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 28px;    
    text-decoration: none;
    margin: 0 0 0 0;
}

.signup-signin:hover {
    color: rgb(226, 192, 68);
}

.signup-signin:active {
    color: rgb(208, 141, 46);
}

.spanamp{
    color:rgb(242, 240, 240);
    font-family: 'notoserif';
    font-size: 14px;    
    text-decoration: none;
    margin: 0 0 0 0;
}
